# ignore credentials
tegracli.conf.yml
*.session*
# ignore data files
*.jsonl
*.ndjson
*.csv
# ignore builds
dist/
# ignore caches
__pycache__/
# ignore testing notebooks
notebooks/
# ignore dabapush project
dabapush.yml
# ignore coverage data file
.coverage
poetry.lock
# ignore random things
.vscode
